@charset "UTF-8";
/* .container-random-v2 {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.product-img-v2 {
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  padding: 5px;
  margin: 0 auto;
}

.product-container-v2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product-item-v2 {
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}

.product-detail-v2 {
  padding: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.product-price-v2 {
  width: 100%;
  text-align: center;
  color: rgb(63, 172, 10);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.product-title-v2 {
  width: 100%;
  text-align: center;
  background-color: #fff;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  padding: 20px;
} */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.product-image {
    max-width: 100%;
    /* ปรับให้รูปภาพของ product-image ไม่เกินขอบ */
}

.badge-gif {
    max-width: 100%;
    /* ปรับให้รูปภาพของ badge-gif ไม่เกินขอบ */
}

.badge-gif {
    position: absolute;
    top: 10;
    left: 10;
    /* max-width: 50px; */
    /* ปรับขนาดตามต้องการ */
    max-height: 50px;
    /* ปรับขนาดตามต้องการ */
}

.product-image {
    max-width: 115px;
    /* ปรับขนาดตามต้องการ */
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body::before,
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

body::before {
    background-image: url('../pic/bg/bg_gradient_short.jpg');
}

body::after {
    content: none;
}